# Manipulacao de arquivos

In [19]:
arquivo = open('../datasets/arquivo1.txt')
# Fechar o arquivo 
# arquivo.close()
# Padrao de abertura em modo de leitura 'r'

In [20]:
# Leitura
print(arquivo.read())

Testando gravação de arquivos em Python  Acrescentando conteúdo

In [21]:
# tamanho 
print(arquivo.tell())

66

In [22]:
# Leitura primeiros 10 caracteres
print(arquivo.read(10))

In [23]:
arquivo.close()

In [30]:
arquivo2 = open('../datasets/salarios.csv')

In [31]:
dados = arquivo2.read()
linhas = dados.split('\n')
dados_completos = []

In [32]:
for linha in linhas:
    linha_quebrada = linha.split(',')
    dados_completos.append(linha_quebrada)

In [36]:
# imprime dez primeiras linhas
print(dados_completos[0:10])

[['Name', 'Position Title', 'Department', 'Employee Annual Salary'], ['"AARON', '  ELVIA J"', 'WATER RATE TAKER', 'WATER MGMNT', '$88968.00'], ['"AARON', '  JEFFERY M"', 'POLICE OFFICER', 'POLICE', '$80778.00'], ['"AARON', '  KARINA"', 'POLICE OFFICER', 'POLICE', '$80778.00'], ['"AARON', '  KIMBERLEI R"', 'CHIEF CONTRACT EXPEDITER', 'GENERAL SERVICES', '$84780.00'], ['"ABAD JR', '  VICENTE M"', 'CIVIL ENGINEER IV', 'WATER MGMNT', '$104736.00'], ['"ABARCA', '  ANABEL"', 'ASST TO THE ALDERMAN', 'CITY COUNCIL', '$70764.00'], ['"ABARCA', '  EMMANUEL"', 'GENERAL LABORER - DSS', 'STREETS & SAN', '$40560.00'], ['"ABBATACOLA', '  ROBERT J"', 'ELECTRICAL MECHANIC', 'AVIATION', '$91520.00'], ['"ABBATEMARCO', '  JAMES J"', 'FIRE ENGINEER', 'FIRE', '$90456.00']]

In [38]:
# importando com pandas
import pandas as pd
df = pd.read_csv('../datasets/salarios.csv')

In [41]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

### MANIPULANDO TXT

In [54]:
import os
# Silvio Santos ipsum
texto = 'Silvio Santos Ipsum valendo um milho de reaisammm. Ma vai pra l. Valendo um milho de reaisammm. Ha hai. Bem boladoam, bem boladoam. Bem gozadoam. Ma o Silvio Santos Ipsum  muitoam interesanteam. Com ele ma voc vai gerar textuans ha haae. Ma vale drreaisam?  com voc Lombardiam. Ma voc, topa ou no topamm. Mah roda a roduamm. Mah ooooee vem pra c. Vem pra c. Voc veio da caravana de ondeammm? Um, dois trs, quatro, PIM, entendeuam? Wellintaaammmmmmmmm.'
arquivo3 = open(os.path.join('../datasets/cientista.txt'),'w')

In [57]:
for palavra in texto.split():
    arquivo3.write(palavra+' ')
    
arquivo3.close()

In [74]:
with open('../datasets/cientista.txt', 'w') as arquivo4:
    arquivo4.write(texto[:21])
    arquivo4.write('\n')
    arquivo4.write(texto[:34])
arquivo4.close

In [76]:
arquivo4 = open('../datasets/cientista.txt', 'r')
print(arquivo4.read())
arquivo4.close

Silvio Santos Ipsum v
Silvio Santos Ipsum valendo um mil

### MANIPULANDO CSV

In [77]:
import csv

In [79]:
with open('../datasets/numeros.csv', 'w') as arquivo:
    escritor = csv.writer(arquivo)
    escritor.writerow(('Primeiro','Segundo','Terceiro'))
    escritor.writerow((10,20,30))
    escritor.writerow((11,21,31))

In [89]:
with open('../datasets/numeros.csv', 'r') as arquivo:
    leitor = csv.reader(arquivo)
    for i in leitor:
        print(i)

['Primeiro', 'Segundo', 'Terceiro']
['10', '20', '30']
['11', '21', '31']

### MANIPULANDO JSON

In [90]:
import json

In [96]:
dicionario = {'Nome':'Alexssandro Oliveira',
              'Idade': 26,
               'Profissao': 'Analista de Sistemas'}

# primeiro parametro key, segundo value 
for a, b in dicionario.items():
    print(f'{a} - {b}')

Nome - Alexssandro Oliveira
Idade - 26
Profissao - Analista de Sistemas

In [99]:
# Conversao do dicionario em json
a = json.dumps(dicionario)
print(a)

{"Nome": "Alexssandro Oliveira", "Idade": 26, "Profissao": "Analista de Sistemas"}

In [100]:
# Escrita
with open('../datasets/dados.json', 'w') as arquivo:
    escritor = arquivo.write(a)

In [101]:
# Leitura
with open('../datasets/dados.json', 'r') as arquivo:
    texto = arquivo.read()
    dada = json.loads(texto)
    
print(texto)

{"Nome": "Alexssandro Oliveira", "Idade": 26, "Profissao": "Analista de Sistemas"}